<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
              
         
              <form action="/verify-otp/{{phone}}" method="post">
            <div class="mb-md-5 mt-md-4 pb-5">
             
            
              <h2 class="fw-bold mb-2 text-uppercase">Enter Otp</h2>
              {{#if number}}
              <p class="eror trext-danger">Invalid Otp Please Check Phone Number </p>
              {{else}}
                <p class="text-light">{{phone}}</p>
              {{/if}}
             

              <div class="form-outline form-white mb-4">
                <input type="text" name="phoneVerify" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Enter OTP</label>
              </div>


              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/resent-otp/{{phone}}">Resent OTP </a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">VERIFY OTP</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>
                
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>